.main-block__gray-woman {
	grid-column: 5 / 5;  grid-row: 1 / 1;
	max-height: 288px;
}

@media (min-width: 1536px) {
	.main-block__gray-woman {
		min-height: 253px;
		max-height: 39vh;
	}

	.main-block__gray-woman img {
		height: 101%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__gray-woman {
		grid-column: 4 / 5;  grid-row: 2 / 3;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__gray-woman {
		grid-column: 2 / 3;  grid-row: 5 / 6;
		max-height: 350px;
	}
}