.main-block__lorem {
	grid-column: 1 / 2;  grid-row: 3 / 3;
	background-color: #828282;
}

.main-block__text {
	max-width: 345px;
	margin: 95px auto 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	color: #F2F2F2;
}


@media (min-width: 769px) and (max-width: 1200px) {
	.main-block__lorem {
		display: flex;
	}

	.main-block__text {
		margin: auto;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.main-block__lorem {
		grid-column: 3 / 5;  grid-row: 1 / 2;
	}
}