.main-block__red-block {
	background-color: #A61C1C;
	grid-column: 5 / 5;  grid-row: 2 / 2;
	min-width: 232px;
	min-height: 185px;
}

@media (min-width: 1536px) {
	.main-block__red-block {
		max-height: none;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.main-block__red-block {
		min-width: auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__red-block {
		grid-column: 4 / 5;  grid-row: 3 / 4;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__red-block {
		grid-column: 2 / 3;  grid-row: 6 / 7;
		min-width: auto;
	}
}