.main-block__green-woman {
	grid-column: 2 / 4;  grid-row: 1 / 3;
	max-height: 473px;
}

@media (min-width: 769px) and (max-width: 992px) {
	.main-block__green-woman {
		grid-column: 1 / 3;  grid-row: 2 / 4;
		max-height: 473px;
	}
}