.main-block__face {
	grid-column: 1 / 2;  grid-row: 1 / 3;
	min-width: 458px;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.main-block__title {
	font-family: 'InterSemiBold';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 110%;
	/* or 70px */
	color: #000000;
	text-align: left;
	margin-top: 125px;
	max-width: 330px;
}

.main-block__icons {
	margin-bottom: 48px;
	width: 123px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: bottom;
}

.main-block__icon {
	vertical-align: bottom;
}

.main-block__icon:hover {
	opacity: 0.6;
	cursor: pointer;
}

.main-block__icon:active {
	opacity: 0.8;
}

@media (min-width: 1536px) {
	.main-block__title {
		margin-top: 25vh;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.main-block__face {
		min-width: 400px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__face {
		grid-column: 1 / 3;  grid-row: 1 / 2;
	}

	.main-block__title {
		margin-top: 80px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__face {
		grid-column: 1 / 3;  grid-row: 1 / 2;
		min-width: auto;
		min-height: 400px;
	}

	.main-block__title {
		font-size: 58px;
		max-width: 300px;
	}
}