.main-block__coffe {
	grid-column: 2 / 3;  grid-row: 3 / 3;
	max-height: 247px;
	/*width: 85%;*/
}

@media (min-width: 769px) and (max-width: 992px) {
	.main-block__coffe {
		grid-column: 1 / 2;  grid-row: 4 / 5;
	}
}
