.main-block__coffe {
	grid-column: 2 / 3;  grid-row: 3 / 3;
	max-height: 247px;
}

@media (min-width: 1536px) {
	.main-block__coffe {
		min-height: 226px;
		max-height: 35vh;
	}

	.main-block__coffe img {
		height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__coffe {
		grid-column: 1 / 2;  grid-row: 4 / 5;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__coffe {
		grid-column: 1 / 2;  grid-row: 4 / 5;
	}
}
