@import url('__brown-block/main-block__brown-block.css');
@import url('__coffe/main-block__coffe.css');
@import url('__door/main-block__door.css');
@import url('__face/main-block__face.css');
@import url('__gray-woman/main-block__gray-woman.css');
@import url('__green-woman/main-block__green-woman.css');
@import url('__lorem/main-block__lorem.css');
@import url('__man/main-block__man.css');
@import url('__red-block/main-block__red-block.css');
@import url('__smile-woman/main-block__smile-woman.css');


.main-block {
	display: grid;
	margin: 0 auto 0;
	max-width: 100vw;
	outline: 3px solid red;
	grid-template: repeat(3) / repeat(5);
	grid-auto-columns: (100px, auto);
}

.block {
	outline: 1px solid blue;
}

.main-block__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

@media (min-width: 769px) and (max-width: 992px) {
	.main-block {
		grid-template: repeat(4) / repeat(4);
	}
}

@media (min-width: 320px) and (max-width: 767px) {

}
