.main-block__door {
	grid-column: 4 / 5;  grid-row: 2 / 4;
	max-height: 432px;
}

@media (min-width: 1536px) {
	.main-block__door {
		min-height: 389px;
		max-height: 60vh;
	}

	.main-block__door img {
		height: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.main-block__door {
		max-height: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__door {
		grid-column: 3 / 4;  grid-row: 3 / 5;
		min-width: 225px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__door {
		grid-column: 1 / 2;  grid-row: 6 / 8;
		max-height: 550px;
	}
}