.main-block__door {
	grid-column: 4 / 5;  grid-row: 2 / 4;
	max-height: 433px;
}

@media (min-width: 993px) and (max-width: 1200px) {
	.main-block__door {
		max-height: none;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.main-block__door {
		grid-column: 3 / 4;  grid-row: 3 / 5;
		min-width: 225px;
	}
}