.main-block__man {
	grid-column: 5 / 5;  grid-row: 3 / 3;
	max-height: 247px;
}

@media (min-width: 1536px) {
	.main-block__man {
		min-height: 228px;
		max-height: 35vh;
	}

	.main-block__man img {
		height: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-block__man {
		grid-column: 4 / 5;  grid-row: 4 / 5;
		/**/
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.main-block__man {
		grid-column: 2 / 3;  grid-row: 7 / 8;
		max-height: 365px;
	}
}